* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

body {
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url("https://source.unsplash.com/random/1600x900/?nature");
}

.big-box {
    background: black;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 420px;
}

.mid-box{
    margin-top: 15px;
}

.small-box{
    display: flex;
    align-items: center;
    margin-top: 10;
}

.input-city{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
    background-color: #f0f0f02b;
    color: white;
    width: calc(100% - 80px);
}

.search-button{
    background-color: #f0f0f02b;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
    float: right;
}

.search-img{
    width: 28px;
}

.city{
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.temperature{
    font-size: 30px;
    color: white;
    margin-top: 15px;
    font-weight: 700;
}

.previsao-txt{
    color: white;
    margin-left: 8px;
    text-transform: capitalize;
}

.previsao-img{
    width: 65px;
    height: 65px;
}

.humdity{
    color: white;
    margin-top: 20px;
}